<div class="seller-dashboard">
  <aside class="sidebar">
    <h2 class="logo">🛒 Seller Panel</h2>
    <ul class="menu">
      <li><a routerLink="sellerdash">📊 Dashboard</a></li>
      <li><a routerLink="/seller/products">📦 My Products</a></li>
      <li><a routerLink="/seller/add-product">➕ Add Product</a></li>
      <li><a routerLink="/seller/orders">📃 Orders</a></li>
      <li><a routerLink="/seller/stock">📦 Stock</a></li>
      <li><a routerLink="/seller/earnings">💰 Earnings</a></li>
      <li><a routerLink="/seller/reviews">⭐ Reviews</a></li>
      <li><a routerLink="/seller/settings">⚙️ Profile Settings</a></li>
      <li><a routerLink="/seller/support">📩 Support</a></li>
    </ul>
  </aside>

  <main class="main-content">
    <router-outlet></router-outlet>
  </main>
</div>

