<div class="card">
  <h2>Category Management</h2>
  <form #catForm="ngForm" (ngSubmit)="onSubmit(catForm)">
    <div class="form-group">
      <label>Category Name</label>
      <input
        type="text"
        name="name"
        [(ngModel)]="newCategory.categoryName"
        required
        class="form-control"
      />
    </div>
    <button type="submit" class="btn" [disabled]="catForm.invalid">
      {{ isEditing ? "Update" : "Add" }} Category
    </button>
    <button
      type="button"
      class="btn cancel"
      (click)="resetForm(catForm)"
      *ngIf="isEditing"
    >
      Cancel
    </button>
  </form>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Category Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of categories">
        <td>{{ category.id }}</td>
        <td>{{ category.categoryName }}</td>
        <td>
          <button class="edit-btn" (click)="editCategory(category)">
            Edit
          </button>
          <!-- <button (click)="deleteCategory(category.id)">Delete</button> -->
          <button
            class="delete-btn"
            (click)="category.id !== undefined && deleteCategory(category.id)"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- <div class="form-group full-width">
    <br />
    <button class="edit-btn" type="button" routerLink="/subcategory">
      Go Subcategory
    </button>
  </div> -->
</div>
