/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Root Angular app layout */
app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Make the main content grow and push footer down */
.app-container {
  flex: 1;
}
